@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*base styles*/
*{
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

.title{
  margin:0 auto;
  text-align: center;
  padding: 1rem 4rem;
}

.navbar {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

.navbar .links{
  color: black;
  font-weight: 900;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #f2f2f2;
}


.navbar a {
  margin-left: 3rem;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  border-bottom: 1px solid #2F80ED;
}

/*formtodo */

.form {
 
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.form ::placeholder{
  font-size: large;
}
.form .input{
   width: 75%;
    padding: 1rem;
   box-sizing: border-box;
   border: 1px solid #ddd;
   border-radius: 8px;
}

.form .btn1{
  width: 15%;
  margin-left: 20px;
  background: hsl(214, 84%, 56%);
  color: #fff;
  font-size: larger;
  border: 0;
  padding: 13px;
  border-radius: 8px;
  cursor: pointer;
}

.Todo{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 20px;
  padding-top: 2rem;
  padding-left: 1rem;
}


input[type=checkbox] {
  transform: scale(1.9);
 margin-right: 2rem ;
 border: 1px solid #ddd;
}
.flex{
  display: flex;
}
.Todo img{
  height: 30px;
  width: 30px;
}

.img{
  height: 20px;
  width: 20px;
  color: #fff;
}
 .btn{
  background: hsl(0, 86%, 62%);
  color: #fff;
  font-size: larger;
  margin: 2rem;
  padding: 1rem 1.5rem;
  border: 0 ;
  border-radius: 8px;
  cursor: pointer;
}